@import "reset.scss";

* {
    font-family: monospace;
}

hr {
    border-bottom: 1px solid #D9D9D9;
}

html {
    max-width: 1440px;
    margin: 0 auto;
}

.header__content {
    display: flex;
    align-items: center;
}

.header__logo { 
    padding: 8px;
}

.header-list {
    display: flex;
    gap: 16px;
    margin-left: 94px;
}

.header-item {
    display: flex;
    align-items: flex-end;
    gap: 4px;
    padding: 4px 8px;
    color: var(--neutral-900, #111827);
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
}

.header__buttons {
    display: flex;
    gap: 16px;
    margin-left: auto;
}

.header__button {
    color: var(--neutral-900, #111827);
    font-size: 15px;
    font-weight: 600;
    line-height: 20px;
    border-radius: 8px;
    background: none;
    padding: 10px 16px;
}



.hero {
    
}

.hero__content {
    display: flex;
    justify-content: space-between;
}

.hero-left {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 120px;
    max-width: 624px;
}



.hero__title {
    position: relative;
    padding-bottom: 40px;
    font-weight: 900;
    font-size: 56px;
    line-height: 68px;
    letter-spacing: -1.4px;
    &_idea {
        position: absolute;
        top: -43px;
        right: 122px;
    }
    &_underline{
        position: absolute;
        bottom: 25px;
        right: 20px;
    }
    &_highlight {
        color: #FFB637;
    }
}

.hero__description {
    color: var(--neutral-700, #374151);
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.18px;
    padding-bottom: 32px;
}

.hero__buttons {
    display: flex;
    gap: 20px;
    padding-bottom: 20px;
}

.hero__button {
    padding: 16px 24px;
    border-radius: 8px;
    border: 1.5px solid #5EC3C5;
    background: rgba(94, 195, 197, 0.08);
    color: #5EC3C5;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.18px;
}

.button {
    color: #FFF;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    background: #5EC3C5;
}

.hero__info {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #000;
    font-size: 15px;
    font-weight: 800;
    letter-spacing: 0.225px;
 span{
        opacity: 0.23999999463558197;
}
}

.hero-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 80px;
}

.hero-bottom__title {
    padding-bottom: 12px;
    color: #333;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    text-transform: uppercase;
}

.hero-bottom__description {
    padding-bottom: 40px;
    color: var(--neutral-700, #374151);
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.18px;
}

.hero-bottom__logos {
    display: flex;
    align-items: center;
    gap: 40px;
}

section {
    border-bottom: 1px solid #D9D9D9;
}

.impactful {
    background: #BFE7E8;
    padding-top: 80px;
    padding-bottom: 80px;
}

.impactful__title {
    padding-bottom: 20px;
    color: #333;
    text-align: center;
    font-size: 48px;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: -0.48px;
}

.impactful__description {
    padding-bottom: 80px;
    color: var(--neutral-700, #374151);
    text-align: center;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.18px;
}

.impactful-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.impactful-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 80px;
    max-width: 384px;
}

.impactful-item__image {
    width: 72px;
    height: 72px;
    margin-bottom: 20px;
}

.impactful-item__title {
    color: #333;
    font-size: 30px;
    font-weight: 800;
    line-height: 34px;
    letter-spacing: -0.3px;
    padding-bottom: 16px;
}

.impactful-item__description {
    color: var(--neutral-700, #374151);
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.16px;
}

.mobile {
    background: #ED8054;
}

.mobile__content {
    display: flex;
    justify-content: space-around;
}

.mobile__left {
    max-width: 584px;
    margin-top: 80px;
}

.mobile__title {
    color: #FFF;
    font-size: 48px;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: -0.48px;
    margin-bottom: 16px;
}

.mobile__description {
    color: #101010;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.18px;
    margin-bottom: 30px;
}

.mobile__qr-code {
    display: flex;
    align-items: center;
    gap: 40px;
    max-width: 362px;
    color: #FFF;
    font-size: 30px;
    font-weight: 900;
    line-height: 40px;
    letter-spacing: 0.3px;
    text-transform: uppercase;
    span {
        opacity: 0.7;
    }
}

.power {
    padding-top: 80px;
    padding-bottom: 80px;
}

.power__title {
    color: #333;
    text-align: center;
    font-size: 48px;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: -0.48px;
    margin-bottom: 80px;
    span {
        color: #B50700;
    }
}

.power-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.power-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 384px;
}

.power-item__image {
    margin-bottom: 24px;
    width: 384px;
    height: 245px;
    border-radius: 8px;
}

.power-item__title {
    color: #111827;
    font-size: 24px;
    font-weight: 800;
    line-height: 32px;
    margin-bottom: 16px;
}

.power-item__description {
    color: var(--neutral-700, #374151);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.16px;
    margin-bottom: 24px;
}

.power-item__button {
    padding: 10px 16px;
    color: #FFF;
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
    border-radius: 8px;
    background: #333333;
    align-self: flex-start;
}