@import "reset.scss";

* {
  font-family: monospace;
}

html {
  max-width: 1440px;
  margin: 0 auto;
}

.header {
  &__content {
    display: flex;
    align-items: center;
  }

  &__logo {
    padding: 8px;
  }

  &__list {
    display: flex;
    gap: 16px;
    margin-left: 94px;
  }

  &__item {
    display: flex;
    align-items: flex-end;
    gap: 4px;
    padding: 4px 8px;
    color: var(--neutral-900, #111827);
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
  }

  &__buttons {
    display: flex;
    gap: 16px;
    margin-left: auto;
  }

  &__button {
    padding: 10px 16px;
    color: var(--neutral-900, #111827);
    font-size: 15px;
    font-weight: 600;
    line-height: 20px;
    border-radius: 8px;
    background: none;
  }
}

.hero {
  &__content {
    display: flex;
    justify-content: space-between;
  }

  &__wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 120px;
  }
}

.hero__title {
  position: relative;
  padding-bottom: 40px;
  font-weight: 900;
  font-size: 56px;
  line-height: 68px;
  letter-spacing: -1.4px;

  &_idea {
    position: absolute;
    top: -43px;
    right: 122px;
  }

  &_underline {
    position: absolute;
    bottom: 25px;
    right: 20px;
  }

  &_highlight {
    color: #ffb637;
  }
}

.hero__description {
  color: var(--neutral-700, #374151);
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.18px;
  padding-bottom: 32px;
}

.hero__buttons {
  display: flex;
  gap: 20px;
  padding-bottom: 20px;
}

.hero__button {
  padding: 16px 24px;
  border-radius: 8px;
  border: 1.5px solid #5ec3c5;
  background: rgba(94, 195, 197, 0.08);
  color: #5ec3c5;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.18px;
}

.button {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  background: #5ec3c5;
}

.hero__info {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #000;
  font-size: 15px;
  font-weight: 800;
  letter-spacing: 0.225px;

  span {
    opacity: 0.23999999463558197;
  }
}

.companies {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 80px;

  &__title {
    text-align: center;
    padding-bottom: 12px;
    color: #333;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    text-transform: uppercase;
  }

  &__description {
    padding-bottom: 40px;
    color: var(--neutral-700, #374151);
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.18px;
  }

  &__logos {
    display: flex;
    align-items: center;
    gap: 40px;
  }
}

section {
  border-bottom: 1px solid #d9d9d9;
}

.impactful {
  background: #bfe7e8;
  padding-top: 80px;
  padding-bottom: 80px;

  &__title {
    padding-bottom: 20px;
    color: #333;
    text-align: center;
    font-size: 48px;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: -0.48px;
  }

  &__description {
    padding-bottom: 80px;
    color: var(--neutral-700, #374151);
    text-align: center;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.18px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

.impactful-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 80px;
  max-width: 384px;

  &__image {
    width: 72px;
    height: 72px;
    margin-bottom: 20px;
  }

  &__title {
    flex-grow: 1;
    color: #333;
    font-size: 30px;
    font-weight: 800;
    line-height: 34px;
    letter-spacing: -0.3px;
    margin-bottom: 16px;
  }

  &__description {
    flex-grow: 1;
    color: var(--neutral-700, #374151);
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.16px;
    margin-bottom: 20px;
  }
}

.mobile {
  background: #ed8054;
  //   background-image: url('/assets/mobile.png');
  //   background-repeat: no-repeat;
  //   background-position: 5% 10%;

  &__content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  &__wrapper {
    max-width: 594px;
    padding-top: 80px;
    padding-bottom: 80px;
  }

  &__title {
    color: #fff;
    font-size: 48px;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: -0.48px;
    padding-bottom: 16px;
  }

  &__description {
    color: #101010;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.18px;
    padding-bottom: 30px;
  }

  &__qr {
    display: flex;
    gap: 40px;
  }

  span {
    color: #fff;
    font-size: 30px;
    font-weight: 900;
    line-height: 40px;
    letter-spacing: 0.3px;
    text-transform: uppercase;
    opacity: 0.5;
    width: 200px;
  }
}

.power {
  padding-top: 80px;
  padding-bottom: 80px;

  &__content {
    overflow: hidden;
  }

  &__title {
    color: #333;
    text-align: center;
    font-size: 48px;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: -0.48px;
    margin-bottom: 80px;

    span {
      color: #b50700;
    }
  }

  &__list {
    display: flex;
    justify-content: space-around;
    gap: 72px;
    transition: transform 0.9s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    transform: translateX(0px);
  }

  &__buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }

  &__button {
    display: flex;
    padding: 13px;
    border-radius: 56px;
    border: 1.5px solid #5ec3c5;
    background: rgba(94, 195, 197, 0.08);

    &_radio {
        font-size: 0px;
        width: 10px;
        height: 10px;
        border-radius: 100px;
        opacity: 0.75;
        background: #D9D9D9;
    }

    svg {
      fill: #5ec3c5;
    }
  }
}

.power-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 384px;
  margin-bottom: 80px;

  &__image {
    margin-bottom: 24px;
    width: 384px;
    height: 245px;
    border-radius: 8px;
  }

  &__title {
    flex-grow: 1;
    color: #111827;
    font-size: 24px;
    font-weight: 800;
    line-height: 32px;
    margin-bottom: 16px;
  }

  &__description {
    color: var(--neutral-700, #374151);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.16px;
    margin-bottom: 24px;
  }

  &__button {
    padding: 10px 16px;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
    border-radius: 8px;
    background: #333333;
    align-self: flex-start;
  }
}
